h1{
    text-align: center;
    margin: 3vw;
}

main{
    margin: 0;
    padding: 0;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

main > div{
    overflow:hidden;
    border: 0.3vw solid rgb(32, 32, 32);
    background-color: var(--color);
    margin: 2vw;
    width: 18vw;
    height: 17vw;
    color: white;
    font-size: 8vw;
    line-height: 16vw;
    text-align: center;
}